.favourite-photos__list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.favourite-photos__image-card {
  margin: 30px;
}

.favourite-photos__empty-list-tip {
  margin-top: 30px;
}
